<div class="row">
  <div class="large-12 columns wrapper">
    <div class="large-6 input-field">
      <div id="prompt">
      </div>

      <form action="" method="" id="createDeal">
        <label for="name">Deal Name: </label>
        <input id="name" type="text" name="name" />
        <br />
        <label for="description">Deal Description: </label>
        <textarea id="description" name="description"></textarea>
        <br />
        <button type="submit" value="Save">Save</button>
        <a href="/dashboard" class="button">Cancel</a>
     </form>
    </div>
  </div>
</div>
