<div class="row">
  <div class="large-12 columns wrapper">
    <div class="large-12 columns app-logo">
      <br/>
      <a href="#"><img src="/images/logo-sample.png"/></a> <!-- merchant's logo. clickable to upload/change logo-->
    </div>
    <h4>Welcome, <%= username %></h4>
    <a href="/logout" style="color: #69c1c9 !important">Logout</a>
    <div class="large-12 columns input-field">
      <div class="large-6 medium-6 wrapper">
        <br/><br/>
        <a href="/deals/new" class="button">Add Deal</a>
        <br/>
        <a href="/deals/redeem" class="button">Redeem User Points</a>
      </div>
    </div>
  </div>
</div>
