<div class="row">
  <div class="large-12 columns wrapper">
    <div class="large-12 columns app-logo">
      <br/>
      <img src="/images/logo-sample.png"/>
    </div>
    <h4>Hagilap</h4>
    <div class="large-12 columns input-field">
      <div class="large-6 medium-6 wrapper">
        <% if (prompt !== '') { %>
          <div data-alert class="alert-box alert" style="color:red;">
            <%= prompt %>
          </div>
          <br />
        <% } %>
        <form action="/login" method="POST">
          <input type="text" placeholder="Username" name="username">
          <input type="password" placeholder="Password" name="password">
          <br/>
          <button type="submit" value="Login">Login</button>
       </form>
      </div>
    </div>
  </div>
</div>
