body {
	background-color: #F8F8F8;
	text-align: center;
}
.wrapper {
	margin: auto;
}
.app-logo {
	padding: 20px;
}
.input-field {
	margin: auto;
	text-align: center;
	padding: 40px;
}
label {
	text-align: left;
	padding-bottom: 10px;
}
button {
	background-color: #69c1c9 !important;
}
.button {
	background-color: #69c1c9 !important;
}
